.klitynka-b{
    width: 100px;
    height: 100px;
    background: black;
}
.klitynka-w{
    width: 100px;
    height: 100px;
    background: rgb(255, 255, 255);
}
.line{
    display: flex;
}
.doshka{
    border: 10px solid black;
    width: 800px;
    height: 800px;
}